-----BEGIN PRIVATE KEY-----
(paste the "Private key" block from the Cloudflare dashboard here,
with the BEGIN/END markers — entire base64 body included.
Then save the real file as origin.key next to this one — and treat
it like a password: not committed, not in OneDrive, not in chat.)
-----END PRIVATE KEY-----
